$dark_blue: #194769;
$light_blue: #04689c;
$dark_pink: #a11941;
$light_pink: #dc1566;
$dark_green: #3e7d44;
$light_green: #4a9e3a;
$dark_yellow: #fe9e29;
$light_yellow: #fbc21a;
$white: #ffffff;
$secondary_white: #f8f5f0;
$black: #000000;
$secondary_black: #202124;
