.contact {
    justify-content: center;
    display: flex;
    padding: 6.25em 0;

    &__info {
        color: $white;
        background: $dark_pink;
        padding: 10em 4.5em 10em 4.5em;
        h2 {
            font-weight: 700;
            font-size: 1.5em;
            padding-bottom: 1.313em;
        }
        ul {
            li {
                list-style-type: none;
                padding-bottom: 0.938em;
                display: flex;
                gap: 1em;

                //   selects the 4th list and sets underline
                &:nth-child(4) {
                    a {
                        text-decoration: underline;
                    }
                }

                a {
                    text-decoration: none;
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__form {
        background: $secondary_white;
        padding: 5em 5em 3em 5em;

        h2 {
            color: $dark_pink;
            font-weight: 700;
            font-size: 1.5em;
            padding-bottom: 0.438em;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: flex-end;

            input,
            textarea {
                padding-left: 1em;
                width: 28em;
                height: 2.813em;
                background: #fdfdfd;
                border-radius: 4px;
                border: none;
                outline: none;
            }

            textarea {
                padding-top: 0.5em;
                height: 13.75em;
                resize: vertical;
            }
        }
    }
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1200px) {
    .contact {
        justify-content: center;
        display: flex;
        padding: 6.25em 0;

        &__info {
            color: $white;
            background: $dark_pink;
            padding: 8em 4.5em 8em 4.5em;
            h2 {
                font-weight: 700;
                font-size: 1.1rem;
                padding-bottom: 1.313em;
            }
            ul {
                li {
                    font-size: 0.9rem;
                    list-style-type: none;
                    padding-bottom: 0.938em;
                    display: flex;
                    gap: 1em;

                    //   selects the 4th list and sets underline
                    &:nth-child(4) {
                        a {
                            text-decoration: underline;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &__form {
            background: $secondary_white;
            padding: 5em 5em 3em 5em;

            h2 {
                color: $dark_pink;
                font-weight: 700;
                font-size: 1.5em;
                padding-bottom: 0.438em;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: flex-end;

                input,
                textarea {
                    padding-left: 1em;
                    width: 28em;
                    height: 2.813em;
                    background: #fdfdfd;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                }

                textarea {
                    padding-top: 0.5em;
                    height: 13.75em;
                    resize: vertical;
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .contact {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 6.25em 0;

        &__info {
            color: $white;
            background: $dark_pink;
            padding: 8em 9.5rem 8em 9.5rem;
            h2 {
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1.313em;
            }
            ul {
                li {
                    font-size: 1rem;
                    list-style-type: none;
                    padding-bottom: 0.938em;
                    display: flex;
                    gap: 1em;

                    //   selects the 4th list and sets underline
                    &:nth-child(4) {
                        a {
                            text-decoration: underline;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &__form {
            background: $secondary_white;
            padding: 5em 5em 3em 5em;

            h2 {
                color: $dark_pink;
                font-weight: 700;
                font-size: 1.5em;
                padding-bottom: 0.438em;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: flex-end;

                input,
                textarea {
                    padding-left: 1em;
                    width: 28em;
                    height: 2.813em;
                    background: #fdfdfd;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                }

                textarea {
                    padding-top: 0.5em;
                    height: 13.75em;
                    resize: vertical;
                }
            }
        }
    }
}

@media all and (max-width: 480px) {
    .contact {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 6.25em 0;

        &__info {
            color: $white;
            background: $dark_pink;
            padding: 8em 6rem 8em 6rem;
            h2 {
                font-weight: 700;
                font-size: 1.5rem;
                padding-bottom: 1.313em;
            }
            ul {
                li {
                    font-size: 1rem;
                    list-style-type: none;
                    padding-bottom: 0.938em;
                    display: flex;
                    gap: 1em;

                    //   selects the 4th list and sets underline
                    &:nth-child(4) {
                        a {
                            text-decoration: underline;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &__form {
            background: $secondary_white;
            padding: 5em 3em 3em 3em;

            h2 {
                color: $dark_pink;
                font-weight: 700;
                font-size: 1.5em;
                padding-bottom: 0.438em;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: flex-end;

                input,
                textarea {
                    padding-left: 1em;
                    width: 24em;
                    height: 2.8em;
                    background: #fdfdfd;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                }

                textarea {
                    padding-top: 0.5em;
                    height: 13.75em;
                    resize: vertical;
                }
            }
        }
    }
}

@media all and (max-width: 320px) {
    .contact {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 6.25em 0;

        &__info {
            color: $white;
            background: $dark_pink;
            padding: 7em 2.5rem 7em 3rem;
            h2 {
                font-weight: 700;
                font-size: 1.2rem;
                padding-bottom: 1.313em;
            }
            ul {
                li {
                    font-size: 0.9rem;
                    list-style-type: none;
                    padding-bottom: 0.938em;
                    display: flex;
                    gap: 1em;

                    //   selects the 4th list and sets underline
                    &:nth-child(4) {
                        a {
                            text-decoration: underline;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $white;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &__form {
            background: $secondary_white;
            padding: 5em 1em 3em 1em;

            h2 {
                color: $dark_pink;
                font-weight: 700;
                font-size: 1.5em;
                padding-bottom: 0.438em;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                align-items: flex-end;

                input,
                textarea {
                    padding-left: 1em;
                    width: 20em;
                    height: 2.5em;
                    background: #fdfdfd;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                }

                textarea {
                    padding-top: 0.5em;
                    height: 12em;
                    resize: vertical;
                }
            }
        }
    }
}
