.gallery {
    padding: 6.25em 0;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1em;

        .gallery__figure {
            img {
                width: 100%;
                height: 100%;
                opacity: 0.9;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

#lightbox {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    top: 0;
    display: none;

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media all and (max-width: 768px) {
    .gallery {
        padding: 6.25em 0;
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 1em;

            .gallery__figure {
                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.9;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 320px) {
    .gallery {
        padding: 6.25em 0;
        &__grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 1em;

            .gallery__figure {
                img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.9;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #lightbox {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 100;
        top: 0;
        display: none;

        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
